@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;800&display=swap");
* {
  font-family: "Kantumruy Pro", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --gradientColor: linear-gradient(to top, #8b5cf6, #3b82f6);
  --primaryColor: #3b82f6;
  --dashboaedColor: #f6f6f6;
  --navtext: #70809a;
  --navborderColor: #e9e9e9;
  --tableColor: #fff;
  --maintextColor: #6f809a;
  --textColor: #0f172a;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 2rem;
  margin-top: 1.8rem;
}
.container .left {
  width: 330px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.container .left img {
  width: 65px;
}
.container .left .double-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.container .left .dropdown {
  float: left;
  overflow: hidden;
}
.container .left .dropdown-year button {
  padding: 1.2rem 2rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primaryColor);
  color: #fff;
}
.container .left .dropdown-det button {
  padding: 1.2rem 2rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 5px;
  border: 2px solid var(--textColor);
  background-color: #fff;
  font-weight: 600;
}
.container .right {
  /* width: 500px; */
  display: flex;
  align-items: center;
  gap: 2rem;
}
.container .right .search-bar {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--textColor);
  background-color: #fff;
  color: #6f809a;
  border-radius: 50px;
  padding: 0rem 0.5rem;
}
.container .right .search {
  width: 20px;
  height: 30px;
}
.container .right input {
  width: 350px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0.2rem;
  color: #6f809a;
}
.container .right .btn-add {
  width: 50px;
  height: 50px;
  border-radius: 55px;
  border: none;
  background-image: var(--gradientColor);
  color: #fff;
}
