@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;800&display=swap");
* {
  font-family: "Kantumruy Pro", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --gradientColor: linear-gradient(to top, #8b5cf6, #3b82f6);
  --primaryColor: #3b82f6;
  --dashboaedColor: #f6f6f6;
  --navtext: #70809a;
  --navborderColor: #e9e9e9;
  --tableColor: #fff;
  --maintextColor: #6f809a;
  --textColor: #0f172a;
}
body{
    background-color: var(--dashboaedColor);
}